{% extends "heath:templates/base.jinja2" %}

{% block content %}
  <h1>Create Transaction</h1>
  <form action="" method="post">
    <label for="description">Description</label>
    <input type="text" name="description" id="description" required>
    <br>
    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount" step="0.01" required>
    <br>
    <input type="submit" name="submit" value="Create">
  </form>
{% endblock content %}