{% extends "heath:templates/base.jinja2" %}

{% block content %}
  <p>
    Budget: {{ "%.2f" | format(budget) }}
  </p>
  <table id="transactions">
    <thead>
      <tr>
        <th>Description</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
        <tr>
          <td><a href="{{ request.route_url('transaction_detail', transaction_id=transaction.id) }}">{{ transaction.description }}</a></td>
          <td>{{ "%.2f" | format(transaction.amount) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>
    <a href="{{ request.route_url('transaction_create') }}">Add New Transaction</a>
  </p>
{% endblock content %}