{% extends "heath:templates/base.jinja2" %}

{% block content %}
<div class="content">
  <h1>Welcome to Heath <small>Your Personal Ledger App</small></h1>
  <p class="lead">Know where your money goes (and comes from).</p>
</div>
{% endblock content %}
